nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: orange;
    text-align: right;
    flex: 50%
}

nav > ul > li {
    position: relative;
    display: inline-block;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: orange;
}

nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    padding-left: 25px;
    display: flex;
    text-align: center;
    font-size: 12px;
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 14px 20px;
    color: white;
    font-size: 60px;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    nav ul { 
        flex-direction: column;
        width: 100%;
        display: none;
    }
    
    .hamburger-icon {
        display: block;
        cursor: pointer;
    }

    nav ul li {
        display: block; 
        text-align: center;
    }

    nav ul li ul li {
        text-align: left; 
        display: none;
    }

    .menu-toggle:checked + .hamburger-icon + ul {
        display: block; 
    }

    
}

