h1{
    color: #6a5acd;
}

.centered-div{
    color: white;
    width: 300px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
    background-color: orange;
    text-align: center;
    line-height: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: auto;

}

.centered-text{
    width: 1000px;
    padding: 15px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: orange;
    text-align: center;
    line-height: 25px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: auto;
}

body{
    background-color: #34c3eb;
    color: rgb(123, 100, 26);
    height: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.letter-spaces{
    font-size: 22px;
    line-height: 25px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: orange;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}

.headshot-style img {
    max-width: 45%; 
    height: auto; 
    margin-left: 20%;
}

.index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    padding: 20px;
}

.reflection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

.reflection-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

.project-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}





@media (min-width: 800px) {
    .about-container, .relfection-container, .project-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; 
    }

    .about-pg, .headshot-style, .reflection-pg, .project-pg {
        width: auto; 
        margin: 10px; 
        flex: 1; 
    }
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    .index-container{
        flex-direction: column;
        align-items: center;
    }

    .about-pg, .headshot-style {
        width: 100%; /* Take the full width of the container */
    }
    header, h1 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


