h1{
    color: #6a5acd;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}




body, html {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px; /* Adjust based on footer height to ensure space for the footer */
}

footer {
    position: absolute;
    bottom: -45px;
    right: 0;
    color: #fff;
    padding: 20px;
   
}

@media (max-width: 800px) {
    .project-pg {
        width: calc(50% - 20px); 
    }
    footer {
        position: relative;
        z-index: 0000;
    }
}


.centered-div{
    color: white;
    width: 300px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
    background-color: orange;
    text-align: center;
    line-height: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: auto;

}

.centered-text{
    width: 1000px;
    padding: 15px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: orange;
    text-align: center;
    line-height: 25px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: auto;
}

body{
    background-color: #34c3eb;
    color: rgb(123, 100, 26);
    height: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.letter-spaces{
    font-size: 22px;
    line-height: 25px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: orange;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}

.about-pg p {
    font-family: 'Roboto', sans-serif;
}

.headshot-style img {
    max-width: 45%; 
    height: auto; 
    margin-left: 20%;
}

.index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    padding: 20px;
}

.project-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: orange;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}



.reflection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    border-spacing: 20px;
}

.reflection-pg {
    width: 70%;
    padding: 15px;
    padding-bottom: 0px;
    margin-right: 10px;
    text-align: auto;
    line-height: 25px;
    display: inline-block; 
    vertical-align: top;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-pg {
    width: 90%; 
    padding: 15px;
    margin-bottom: 20px;
    background-color: none;
}

.project-text-box,
.project-content-box,
.project-description-box {
    width: 90%; 
    max-width: 400px; 
    margin-bottom: 10px;
}

.project-text-box {
    height: 50px;
    background-color: orange;
    font-size: 40px;
    text-align: center;
}

.project-content-box {
    height: auto; 
    font-size: 40px;
}

.project-content-box video {
    width: 100%;
    height: auto;
}

.project-description-box {
    height: auto;
    background-color: orange;
    font-size: 15px;
    text-align: left;
}

@media (max-width: 800px) {
    .project-text-box,
    .project-content-box,
    .project-description-box {
        width: 90%; 
        max-width: none; 
    }
}




@media (min-width: 800px) {
    .about-container, .relfection-container, .project-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; 
    }

    .about-pg, .headshot-style, .reflection-pg, .project-pg {
        width: auto; 
        margin: 10px; 
        flex: 1; 
    }
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    .index-container{
        flex-direction: column;
        align-items: center;
    }

    .about-pg, .headshot-style {
        width: 100%; 
    }
    header, h1 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


@media print {
    body {
        color: black; 
        font-family: "Times New Roman", serif; 
        margin: 1in; 
    }

    h1 {
        font-family: 'Roboto', serif; 
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0.25mm;
    }

    p, ul, ol, blockquote, footer p {
        font-family: "Times New Roman", serif; 
    }

    nav, .menu-toggle, .headshot-style, img, .centered-div {
        display: none; 
    }

    footer a {
        display: none; 
    }

    
    p, ul, ol, blockquote, footer p {
        font-size: 12pt; 
        line-height: 1.2; 
    }
}
